# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# Django
db.sqlite3

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Django static/media
/staticfiles/
/media/